@tailwind base;

@tailwind components;

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

@tailwind utilities;

* {
  outline: none;
}

button:active {
  transform: scale(0.95);
}
